.content__wrapper {
  height: 100vh;
  padding: 2rem;

  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .menu {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    // max-height: 500px;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;

    @media (max-width: 767px) {
      margin-top: 1rem;
      width: 100%;
      gap: 0.5rem;
    }
  }
}

.main__content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 1120px;
  max-height: calc(100vh - 8rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }

  p {
    height: 20%;
    padding: 0 0.75rem;
  }

  .img__container {
    height: 80%;
    width: 100%;
    background-color: #000;
    padding: 0;
    img {
      border-radius: 16px;
      height: 100%;
      width: 100%;
    }
  }

  span {
    color: var(--yellow-800);
    text-transform: uppercase;
  }
}

.btn {
  width: 10rem;
  height: 2.5rem;

  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;

  transition: 0.2s;

  &:hover {
    background: #fff;
    color: #736396;
    border-color: #fff;
  }
}

.date {
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem 0;
  background: none;
  border: 1px solid #fff;
  color: #fff;

  z-index: 9999;

  button:hover {
    background: none !important;
  }
}

.date:focus {
  outline: none;
}
