header {
  width: 100%;
  height: 5vh;

  overflow: hidden;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(01.5px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  strong {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    user-select: none;
    color: #f6ebff;
  }

  .rocket {
    position: absolute;
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg)
      brightness(104%) contrast(104%);
    left: -1rem;
    transform: rotate(90deg);
    width: 30px;

    animation-name: fly;
    animation-duration: 21s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .menu {
    width: 25px;
    position: absolute;
    right: 10%;
    cursor: pointer;

    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg)
      brightness(104%) contrast(104%);

    @media (max-width: 767px) {
      right: 3%;
      width: 20px;
    }
  }
}

nav {
  width: 100%;
  height: 3vh;
  background-color: #fff;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  animation-name: show;
  animation-duration: 0.3s;
  animation-timing-function: linear;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #000;
    list-style: none;
    height: 100%;

    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.15rem;

    li {
      transition: 0.2s;

      &:hover {
        color: #453884;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      font-size: 0.75rem;
    }
  }
}

@keyframes show {
  0% {
    height: 1px;
  }
  100% {
    height: 3vh;
  }
}

@keyframes fly {
  0% {
    left: 0px;
  }
  100% {
    left: 100vw;
  }
}
